# Dependency directories
node_modules/

# Environment files
.env

# Build outputs
/dist
/build
/out

# Logs
logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
